.nomer button{
    border-radius: 20px;
    border: 2px solid green;
}
.super{
    color: white;
    padding: 150px 150px;
}
.btn{
    color: white;
    border-radius: 20px;
    border: 2px solid green;
}
